# backend
bin
obj
.vs
*.csproj.user
*.csproj.user.*

# environment
.env

# vscode
.vscode

# logs
*.log

# appsettings - DO NOT COMMIT SECRETS
appsettings.Development.json
appsettings.Production.json
appsettings.json

# launch settings (contains port configs)
**/Properties/launchSettings.json

# IDE
.idea